# Genel
*.log
*.tmp
*.lock

# Dart ve Flutter
.dart_tool/
.packages
.pub-cache/
.pub/

# Build klasörleri (her platform)
build/
*/build/

# Android
android/app/*.keystore
android/.gradle/
android/.idea/
android/local.properties

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/

# Web ve Desktop
web/build/
windows/build/
linux/build/
macos/build/

# VS Code / IntelliJ / Android Studio
.vscode/
.idea/
*.iml
